.navbar {
    padding: 1rem;
    background-color: rgb(241, 240, 240);
}

.navbar .addSociety .btn {
    text-decoration: none;
    color: white;
    background-color: rgb(72, 72, 224);
    padding: 0.3rem 0.4rem;
    margin-right: 1rem;
}

.detailsTable {
    border-collapse: collapse;
    margin: 0.5rem auto;
}

.detailsTable thead tr th {
    padding: 0.5rem 0.8rem;
}

.detailsTable thead tr {
    background-color: black;
    color: white;
}