.societyDetailsContainer {
    width: 60%;
    padding: 0.3rem 0.4rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updateBtn {
    border: none;
    outline: none;
    padding: 0.5rem 0.4rem;
    border-radius: 0.3rem;
    color: white;
    background-color: rgb(85, 85, 241);
    cursor: pointer;
}