.rowDetails {
    max-width: max-content;
}

.rowDetails td {
    cursor: context-menu;
    padding: 0.3rem 0;
    text-align: center;
    width: max-content;
}

.updateBtn {
    border: none;
    outline: none;
    padding: 0.5rem 0.4rem;
    border-radius: 0.3rem;
    color: white;
    background-color: rgb(85, 85, 241);
    cursor: pointer;
}