.parentContainer {
    width: 100%;
    height: 100vh;
}

.verificationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: 1px solid black;
}